* {
  box-sizing: border-box;
}

.container {
  height: 600px;
  width: 600px;
  border: 2px solid black;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid black;
}